body {
    background-color: grey;
}

h1 {
    color:white;
    background-color: black;
    text-align: end;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container {
    background-color: black;
    padding-bottom: 20%;
    position: relative;
}

table {
    width:100%;
    border: 5px solid black;
}

th {
    border: 2px solid black;
    border-radius: 15%;
}
table{
    border-collapse: collapse;
    background-color: black;

}
table tr:nth-child(1) {
    background-color: black;
}
table tr:nth-child(2) {
    background-color: red;
}
table tr:nth-child(3) {
    background-color: red;
}
table tr:nth-child(4) {
    background-color: yellow;
}

table tr:nth-child(5) {
    background-color: yellow;
}
table tr:nth-child(6) {
    background-color: green;
}
table tr:nth-child(7) {
    background-color: green;
}
table tr:nth-child(8) {
    background-color: blue;
}
table tr:nth-child(9) {
    background-color: blue;
}

.black-box {
    background-color: black;
}

.ball {
    background-color: white;
    height: 10px;
    width: 10px;
    color: white;
    border-radius: 10%;
}

#ball_one {
    position: absolute;
    left: 100px;
}

#ball_two {
    position:absolute;
    left: 82%;
    top: 58;
}

#ball_three {
    position:absolute;
    left: 18%;
    top: 58px;
}

.paddle {
    background-color: white;
    height: 15px;
    width: 150px;
    color: white;
    position:absolute;
    bottom: 0px;
    left: 500px;
    border-radius: 5%;
} 


